<!DOCTYPE html>
<html lang="en">
<head>
    <form action="{% url 'video_list' %}" method="post">
        {% csrf_token %}
        <button type="Back">Back</button>
      </form>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Video</title>
</head>
<body>
    <h1>Add a New Video</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Submit</button>
    </form>
</body>
</html>
