<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Landing Page</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="/videos/video_list">All Videos</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <h1>Welcome to Marie's YouTube page!</h1>
        <p>This is a page about all kinds if videos. I really hope you enjoy it.</p>
        <p>This is a public landing page that doesn't require login. To see All Videos, login or register:</p>
    <p><a href="{% url 'login' %}">Login</a> or <a href="{% url 'register' %}">Register</a></p>
    </main>

    <footer>
        <p>Footer text with <a href="https://www.privacypolicy.com">privacy policy</a>.</p>
        <p>Copyright Marie 2024.</p>
    </footer>
</body>
</html>
