<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Go Back</title>
</head>
<body>
    <ul>
        <form action="{% url 'landingpage' %}" method="post">
            {% csrf_token %}
            <button type="Back">Back</button>
          </form>
    </ul>
   
    <h1>Add New Video</h1>
    <form action="{% url 'add_video' %}" method="post">
        {% csrf_token %}
        <button type="Add video">Add video</button>
      </form>
    
    <h1>Welcome, {{ request.user.username }}!</h1>
    <h2>Discover all these great YouTube Videos</h2>

    {% if videos %}
        <ul>
            {% for video in videos %}
                <li>
                    <a href="{{ video.url }}" target="_blank">{{ video.title }}</a>
                    <p>{{ video.description }}</p>
                    {% if video.pub_date %}
                        <small>Published on: {{ video.pub_date }}</small>
                    {% endif %}
                    
                </nav>       
                        <br>
                    <a href="{% url 'video_detail' pk=video.pk %}">View Details</a>
                    <br>
                </nav>    
                </li>
            {% endfor %}

        </ul>
        <form action="{% url 'logout' %}" method="post">
            {% csrf_token %}
            <button type="submit">Log Out</button>
          </form>
    {% else %}
        <p>No videos found.</p>
    {% endif %}
</body>
</html>
